In [1]:
import pandas as pd
#import data
allStar2009 = pd.read_csv('C:/Users/Dell/FYP/AllStar2009.csv')
allStar2016 = pd.read_csv('C:/Users/Dell/FYP/AllStar2016.csv')
allStar2020 = pd.read_csv('C:/Users/Dell/FYP/AllStar2020.csv')
''' Title: Import Data Source Code
Author: Harshit Tyagi
Date: 2020
Availablilty: https://towardsdatascience.com/hitchhikers-guide-to-exploratory-data-analysis-6e8d896d3f7e
'''

## showing data head & shape

In [5]:
allStar2009.head(3)

    PlayerID         Lname   Fname  Year Conference League
0  abdulka01  Abdul-Jabbar  Kareem  1978       West    NBA
1  abdulka01  Abdul-Jabbar  Kareem  1969       East    NBA
2  abdulka01  Abdul-Jabbar  Kareem  1988       West    NBA

In [195]:
allStar2009.shape

(1406, 6)

In [196]:
allStar2016.head(3)

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-Mar,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-May,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-Sep,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States

In [197]:
allStar2016.shape

(439, 9)

In [198]:
allStar2020.head(3)

   Year         Player
0  2017  Anthony Davis
1  2017   James Harden
2  2017  Stephen Curry

In [199]:
allStar2020.shape

(97, 2)

## Cleaning & Integrating 3 of the all star name list

In [2]:
#2009, combine fname and lname into a new var 'Player'
allStar2009['Player'] = allStar2009['Fname']+' '+allStar2009['Lname']
''' Title: Combine columns in df Source Code
Author: cs95 & silvado
Date: 2020
Availablilty: https://stackoverflow.com/questions/19377969/combine-two-columns-of-text-in-pandas-dataframe
'''

#removing useless columns from allStar2009
del allStar2009['PlayerID']
del allStar2009['Lname']
del allStar2009['Fname']
del allStar2009['Conference']
del allStar2009['League']

#increment the year by 1, as the all star game is the 
#second half of the season, next year
allStar2009.Year += 1

allStar2009.head()

   Year               Player
0  1979  Kareem Abdul-Jabbar
1  1970  Kareem Abdul-Jabbar
2  1989  Kareem Abdul-Jabbar
3  1988  Kareem Abdul-Jabbar
4  1987  Kareem Abdul-Jabbar

In [3]:
#2016, remove useless columns
del allStar2016['Pos']
del allStar2016['HT']
del allStar2016['WT']
del allStar2016['Team']
del allStar2016['Selection Type']
del allStar2016['NBA Draft Status']
del allStar2016['Nationality']

#increment the year by 1, as the all star game is the 
#second half of the season, next year
allStar2016.Year += 1

allStar2016.head()

   Year         Player
0  2017  Stephen Curry
1  2017   James Harden
2  2017   Kevin Durant
3  2017  Kawhi Leonard
4  2017  Anthony Davis

In [20]:
allStar2020.head()
#manually download from website about all star game, year is correct

   Year         Player
0  2017  Anthony Davis
1  2017   James Harden
2  2017  Stephen Curry
3  2017   Kevin Durant
4  2017  Kawhi Leonard

In [4]:
#combining the 3 allstar lists into a single dataframe
combine = [allStar2009,allStar2016,allStar2020]
allStar = pd.concat(combine)
''' Title: Combine DataFrames Source Code
Author: pandas
Date: 2020
Availablilty: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
'''

#sort the players according to ascending years, to avoid introducing noise
#when removing duplicates and keeping first entry
allStar = allStar.sort_values('Year',ascending = True)
allStar

     Year          Player
48   1951     Paul Arizin
142  1951    Vince Boryla
750  1951     Ed Macauley
379  1951     Larry Foust
272  1951      Bob Davies
..    ...             ...
75   2020    LeBron James
74   2020   Anthony Davis
73   2020   Kawhi Leonard
83   2020    Jayson Tatum
96   2020  Brandon Ingram

[1942 rows x 2 columns]

In [5]:
#remove duplicate names, keep first allStar entry
allStar = allStar.drop_duplicates(subset=['Player'],keep='first')

allStar.shape

(443, 2)

In [6]:
allStar = allStar.rename(columns={'Year':'1stAS_yr'})

## Save unique players name & first time all star year to $AllStar.csv$

In [7]:
#save unique allStar name list to .csv
allStar.to_csv(r'C:/Users/Dell/FYP/AllStar.csv')