In [1]:
import pandas as pd
import numpy as np
#import data
playersData = pd.read_csv('C:/Users/Dell/FYP/Player_Data.csv')
''' Title: Import csv file Source Code
Author: Harshit Tyagi
Date: 2020
Availablilty: https://towardsdatascience.com/hitchhikers-guide-to-exploratory-data-analysis-6e8d896d3f7e
'''

In [2]:
#print data
playersData.head(3)

,Player,Yr/Team,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,3yr PS IA Pts 75,3yr PS rTS,3yr PS Box OC,3yr PS Passer Rating,3yrPs ScoreVal,3yr PlayVal,3yr AuPM/g,RS BPM,3yr PS BPM,3yr RS+PS BPM/g
0,A.C. Green,1985-86 LAL,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.C. Green,1986-87 LAL,23.0,2240,79,12.4,19.3,13.5,0.061,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.C. Green,1987-88 LAL,24.0,2636,82,11.8,19.1,12.9,0.043,0.4,...,13.7,0.064,0.6,2.4,0.9,-1.0,NaN,1.5,1.2,0.6

In [118]:
playersData.shape

(16356, 46)

## Players Data Cleaning

describing the data

In [3]:
#drop less relevant column
#most of these contains a lot of null values that cant be replaced with 0
#players dont get to play in the PS, data not available, etc.
#replace with 0 will create inbalance
drop_col = ['GPM avg.', 'Scaled APM/g', 'AuPM/g', 'Scaled DAPM/g', 
            'PS MP', 'PS BPM', 'RS+PS BPM/g','3yr PS IA Pts 75', '3yr PS rTS',
            ' 3yr PS Box OC', '3yr PS Passer Rating', '3yrPs ScoreVal', 
            '3yr PlayVal', '3yr AuPM/g', 'RS BPM', '3yr PS BPM', 
            '3yr RS+PS  BPM/g', 'Team SRS', 'Team Ortg', 'Team Drtg']
playersData = playersData.drop(drop_col, axis = 1)
''' Title: Drop column Source Code
Author: Harshit Tyagi
Date: 2020
Availablilty: https://towardsdatascience.com/hitchhikers-guide-to-exploratory-data-analysis-6e8d896d3f7e
'''

In [4]:
#extract just the year from the yr/team column
playersData['Yr/Team']=playersData['Yr/Team'].str[:2]+playersData['Yr/Team'].str[5:7]
''' Title: Alter column string Source Code
Author: Jono
Date: 2020
Availablilty: https://stackoverflow.com/questions/63036156/manipulate-string-in-python-replace-string-with-part-of-the-string-itself
'''
#rename column to year
playersData = playersData.rename(columns={'Yr/Team':'Year'})

#replace noise of year 1900 to 2000
playersData['Year'] = playersData['Year'].replace('1900','2000')
playersData.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,FT%,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.61,0.02,0.0,0.0,-0.4,0.4,12.2,6.1,0.6,4.6
1,A.C. Green,1987,23.0,2240,79,12.4,19.3,13.5,0.061,0.5,...,0.78,0.00,4.5,5.5,1.1,2.0,13.7,10.1,0.9,7.4
2,A.C. Green,1988,24.0,2636,82,11.8,19.1,12.9,0.043,0.4,...,0.77,0.00,4.5,5.7,0.9,1.6,13.2,11.0,1.0,8.4
3,A.C. Green,1989,25.0,2510,82,14.5,22.4,15.6,0.057,0.6,...,0.79,0.03,5.7,6.6,1.5,2.3,15.9,12.5,1.1,8.6
4,A.C. Green,1990,26.0,2709,82,14.8,22.0,14.6,0.011,0.4,...,0.75,0.11,5.1,4.8,1.1,2.1,14.9,12.7,1.0,8.6

In [5]:
#remove players who plays less than 7 years (7 seasons included)
n = playersData[['Player']]
playersData = playersData[n.replace(n.apply(pd.Series.value_counts)).gt(6).all(1)]

playersData.shape
''' Title: Filter df rows Source Code
Author: cs95
Date: 2020
Availablilty: https://stackoverflow.com/questions/48513886/how-can-i-remove-rows-where-frequency-of-the-value-is-less-than-5-python-panda
'''

(12200, 26)

In [122]:
#check if players' name is removed
playersData.loc[playersData['Player'] == 'Bill Russell']

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,FT%,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG
1270,Bill Russell,1957,22.0,1695,48,15.6,25.3,12.7,0.001,0.6,...,0.49,NaN,3.5,15.7,-0.2,2.9,16.1,15.4,2.3,13.3
1271,Bill Russell,1958,23.0,2640,69,15.1,25.3,12.5,0.016,0.7,...,0.52,NaN,3.6,15.5,0.2,4.0,16.0,16.3,3.5,13.4
1272,Bill Russell,1959,24.0,2979,70,12.5,21.5,11.0,0.036,0.7,...,0.60,NaN,3.0,12.3,0.0,4.9,13.7,15.2,3.5,13.1
1273,Bill Russell,1960,25.0,3146,74,13.3,22.1,11.3,0.033,0.8,...,0.61,NaN,3.9,12.6,0.4,5.5,14.1,15.5,3.6,13.0
1274,Bill Russell,1961,26.0,3458,78,12.9,21.6,10.3,-0.015,0.8,...,0.55,NaN,4.7,13.2,-0.5,4.3,12.6,14.0,3.0,12.9
1275,Bill Russell,1962,27.0,3433,76,13.5,23.4,11.6,0.010,0.9,...,0.60,NaN,5.3,13.1,0.4,5.9,14.0,15.0,3.9,12.6
1276,Bill Russell,1963,28.0,3500,78,12.8,23.1,10.6,-0.028,0.8,...,0.56,NaN,5.8,14.6,-0.3,5.0,12.5,14.0,4.2,13.8
1277,Bill Russell,1964,29.0,3482,78,11.9,21.8,9.7,-0.024,0.6,...,0.55,NaN,6.1,16.3,-0.3,5.8,11.6,12.9,4.6,14.5
1278,Bill Russell,1965,30.0,3466,78,11.0,21.6,9.3,-0.007,0.6,...,0.57,NaN,6.0,16.0,0.0,6.2,11.1,12.2,5.3,13.9
1279,Bill Russell,1966,31.0,3386,78,11.0,21.1,8.8,-0.039,0.5,...,0.55,NaN,6.3,15.6,-0.4,4.6,10.5,11.2,4.5,13.6
1280,Bill Russell,1967,32.0,3297,81,10.5,23.1,9.7,0.007,0.8,...,0.61,NaN,7.5,15.1,0.4,5.5,11.2,11.3,5.8,12.7
1281,Bill Russell,1968,33.0,2953,78,11.6,23.7,9.8,-0.037,0.8,...,0.54,NaN,6.5,13.8,-0.4,3.1,11.4,10.7,4.4,11.3
1282,Bill Russell,1969,34.0,3291,77,8.1,18.3,7.1,-0.024,0.5,...,0.53,NaN,5.7,12.8,-0.5,4.7,8.3,8.4,4.5,13.2

In [6]:
#convert playersData Year to to int64 so 
#that it is comparable with allStar Year
playersData['Year'] = playersData['Year'].astype(str).astype(int)
playersData = playersData.astype({'Year':'int64'})
#convert other columns into workable dtypes
playersData['ScoreVal'] = playersData['ScoreVal'].astype(float)
playersData['PlayVal'] = playersData['PlayVal'].astype(float)
playersData['rORB%'] = playersData['rORB%'].astype(float)
playersData['rDREB%'] = playersData['rDREB%'].astype(float)

playersData.dtypes

In [8]:
#to check for missing value 
to_add = playersData[(playersData['MP']>=0)]
col_count = to_add.count()
print(col_count)

Player           12200
Year             12200
Age              12200
MP               12200
G                12200
FGA              12200
Load             12200
Pts/75           12200
rTS%             12183
Box Creation     12200
Passer Rating    12199
Spacing          12199
cTOV%            12199
ScoreVal         12199
PlayVal          12199
FTA/100          12200
FT%              12200
3p Pro           10273
rORB%            12040
rDREB%           12040
OBPM             12183
BPM              12183
IA Pts/75        12200
IA PPG           12048
IA APG           12048
IA RPG           12048
dtype: int64

### replace columns missing value with mean, except 3pt pro

In [126]:
#replace missing values
playersData['ScoreVal'] = playersData['ScoreVal'].fillna(playersData['ScoreVal'].mean())
playersData['PlayVal'] = playersData['PlayVal'].fillna(playersData['PlayVal'].mean())
playersData['rORB%'] = playersData['rORB%'].fillna(playersData['rORB%'].mean())
playersData['rDREB%'] = playersData['rDREB%'].fillna(playersData['rDREB%'].mean())
playersData['rTS%'] = playersData['rTS%'].fillna(playersData['rTS%'].mean())
playersData['Passer Rating'] = playersData['Passer Rating'].fillna(playersData['Passer Rating'].mean())
playersData['Spacing'] = playersData['Spacing'].fillna(playersData['Spacing'].mean())
playersData['cTOV%'] = playersData['cTOV%'].fillna(playersData['cTOV%'].mean())
playersData['OBPM'] = playersData['OBPM'].fillna(playersData['OBPM'].mean())
playersData['BPM'] = playersData['BPM'].fillna(playersData['BPM'].mean())
playersData['IA PPG'] = playersData['IA PPG'].fillna(playersData['IA PPG'].mean())
playersData['IA APG'] = playersData['IA APG'].fillna(playersData['IA APG'].mean())
playersData['IA RPG'] = playersData['IA RPG'].fillna(playersData['IA RPG'].mean())
''' Title: Impute NaN value Source Code
Author: bmu & Nae
Date: 2020
Availablilty: https://stackoverflow.com/questions/18689823/pandas-dataframe-replace-nan-values-with-average-of-columns
'''
#if fillna parameter inplace is true, it will return nothing

In [127]:
#to check for missing value 
to_add = playersData[(playersData['MP']>=0)]
col_count = to_add.count()
print(col_count)

Player           12200
Year             12200
Age              12200
MP               12200
G                12200
FGA              12200
Load             12200
Pts/75           12200
rTS%             12200
Box Creation     12200
Passer Rating    12200
Spacing          12200
cTOV%            12200
ScoreVal         12200
PlayVal          12200
FTA/100          12200
FT%              12200
3p Pro           10273
rORB%            12200
rDREB%           12200
OBPM             12200
BPM              12200
IA Pts/75        12200
IA PPG           12200
IA APG           12200
IA RPG           12200
dtype: int64

In [128]:
playersData.describe()

,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,Passer Rating,...,FT%,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG
count,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,...,12200.000000,10273.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.000000,12200.00000,12200.000000,12200.000000
mean,1994.718443,27.518033,1775.966557,65.404754,17.195869,28.418918,15.438311,-0.002469,2.735787,4.443577,...,0.749212,0.174602,-0.044410,0.090482,0.236592,0.559567,16.177598,11.46616,2.538919,4.482263
std,15.442592,3.929058,794.570565,17.455724,4.565190,7.768964,4.470633,0.044691,2.185218,1.626433,...,0.098814,0.162871,3.522105,5.931213,1.325237,1.839130,5.221436,6.11185,1.967223,2.708345
min,1955.000000,18.000000,400.000000,11.000000,2.200000,4.800000,1.900000,-0.197000,0.200000,0.000000,...,0.110000,0.000000,-6.300000,-12.400000,-4.300000,-6.000000,0.000000,0.00000,0.000000,0.000000
25%,1984.000000,24.000000,1087.750000,54.000000,14.100000,23.100000,12.300000,-0.030000,1.200000,3.200000,...,0.700000,0.000000,-3.000000,-4.900000,-0.700000,-0.700000,12.900000,6.70000,1.100000,2.500000
50%,1997.000000,27.000000,1769.500000,72.000000,17.100000,28.100000,15.200000,-0.002469,2.200000,4.300000,...,0.760000,0.140000,-0.600000,-0.800000,0.100000,0.400000,16.000000,10.60000,2.000000,3.800000
75%,2008.000000,30.000000,2435.000000,80.000000,20.200000,33.200000,18.200000,0.026000,3.700000,5.500000,...,0.820000,0.340000,2.500000,4.500000,1.000000,1.700000,19.300000,15.30000,3.400000,5.900000
max,2019.000000,43.000000,3882.000000,82.000000,35.000000,74.400000,36.200000,0.228000,18.600000,10.000000,...,1.000000,0.540000,14.500000,24.500000,7.500000,9.000000,54.500000,55.70000,13.500000,24.300000

In [129]:
#see if there is missing value?
playersData.isnull().any()

Player           False
Year             False
Age              False
MP               False
G                False
FGA              False
Load             False
Pts/75           False
rTS%             False
Box Creation     False
Passer Rating    False
Spacing          False
cTOV%            False
ScoreVal         False
PlayVal          False
FTA/100          False
FT%              False
3p Pro            True
rORB%            False
rDREB%           False
OBPM             False
BPM              False
IA Pts/75        False
IA PPG           False
IA APG           False
IA RPG           False
dtype: bool

In [130]:
len(playersData)

12200

In [131]:
#create 'pid' to indentify specific player from specific season
id = list(range(12200))
playersData['pid'] = id

In [132]:
#take only rookie data
#remove duplicate names, keep first season only
playersDataX = playersData.drop_duplicates(subset=['Player'],keep='first')

playersDataX.shape

(1123, 27)

In [133]:
playersData.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,pid
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.02,0.0,0.0,-0.4,0.4,12.2,6.1,0.6,4.6,0
1,A.C. Green,1987,23.0,2240,79,12.4,19.3,13.5,0.061,0.5,...,0.00,4.5,5.5,1.1,2.0,13.7,10.1,0.9,7.4,1
2,A.C. Green,1988,24.0,2636,82,11.8,19.1,12.9,0.043,0.4,...,0.00,4.5,5.7,0.9,1.6,13.2,11.0,1.0,8.4,2
3,A.C. Green,1989,25.0,2510,82,14.5,22.4,15.6,0.057,0.6,...,0.03,5.7,6.6,1.5,2.3,15.9,12.5,1.1,8.6,3
4,A.C. Green,1990,26.0,2709,82,14.8,22.0,14.6,0.011,0.4,...,0.11,5.1,4.8,1.1,2.1,14.9,12.7,1.0,8.6,4

In [134]:
playersDataX.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,pid
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.02,0.0,0.0,-0.4,0.4,12.2,6.1,0.6,4.6,0
25,Aaron Brooks,2008,23.0,608,51,19.7,35.4,17.3,-0.005,5.4,...,0.33,-2.8,-6.8,-0.2,-2.0,17.8,5.3,1.8,1.1,17
52,Aaron McKie,1995,22.0,827,45,16.1,26.7,13.6,-0.043,2.1,...,0.27,-1.7,-0.2,0.2,1.0,13.8,6.4,1.9,2.8,28
65,Aaron Williams,1997,25.0,553,32,14.0,20.8,14.5,0.063,0.3,...,0.00,6.4,3.1,-0.6,-0.3,15.2,6.4,0.4,4.3,41
84,Adam Keefe,1993,22.0,1549,82,11.9,21.2,12.9,0.028,0.5,...,0.00,5.4,5.9,-0.4,-0.1,13.1,6.3,0.9,4.9,50

In [135]:
#delete the players' rookie season from the data by cross ref with 
#the list, identifying the 'pid' column
cond = playersData['pid'].isin(playersDataX['pid'])
playersData.drop(playersData[cond].index, inplace = True)
playersData.shape

(11077, 27)

In [136]:
#keep only the 'first' year row to acquire sophomore yr data
#take only rookie data
#remove duplicate names, keep first season only
playersDataY = playersData.drop_duplicates(subset=['Player'],keep='first')
playersDataY.shape

(1123, 27)

In [137]:
playersDataY.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,pid
1,A.C. Green,1987,23.0,2240,79,12.4,19.3,13.5,0.061,0.5,...,0.00,4.5,5.5,1.1,2.0,13.7,10.1,0.9,7.4,1
26,Aaron Brooks,2009,24.0,1998,80,20.9,34.8,17.9,-0.023,5.5,...,0.37,-3.3,-7.7,0.2,-0.8,18.2,11.7,3.2,2.0,18
53,Aaron McKie,1996,23.0,2259,81,16.6,27.4,14.9,-0.008,2.2,...,0.28,-1.7,-3.0,0.1,0.9,15.2,10.6,2.4,3.6,29
66,Aaron Williams,1998,26.0,757,65,15.5,23.4,15.7,0.051,1.2,...,0.00,1.4,1.7,-0.8,-0.1,16.4,4.8,0.2,2.2,42
85,Adam Keefe,1994,23.0,763,63,14.2,24.2,13.7,-0.007,0.6,...,0.00,4.7,4.3,-1.1,-2.0,14.2,4.4,0.5,3.1,51

In [138]:
#combine 1st yr data and 2nd year data to get the data we need
playersData =  playersDataX.append(playersDataY)
playersData = playersData.drop(['pid'], axis = 1)
playersData

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,FT%,3p Pro,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.61,0.02,0.0,0.0,-0.4,0.4,12.2,6.1,0.6,4.6
25,Aaron Brooks,2008,23.0,608,51,19.7,35.4,17.3,-0.005,5.4,...,0.86,0.33,-2.8,-6.8,-0.2,-2.0,17.8,5.3,1.8,1.1
52,Aaron McKie,1995,22.0,827,45,16.1,26.7,13.6,-0.043,2.1,...,0.69,0.27,-1.7,-0.2,0.2,1.0,13.8,6.4,1.9,2.8
65,Aaron Williams,1997,25.0,553,32,14.0,20.8,14.5,0.063,0.3,...,0.67,0.00,6.4,3.1,-0.6,-0.3,15.2,6.4,0.4,4.3
84,Adam Keefe,1993,22.0,1549,82,11.9,21.2,12.9,0.028,0.5,...,0.70,0.00,5.4,5.9,-0.4,-0.1,13.1,6.3,0.9,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16261,Yao Ming,2004,23.0,2692,82,20.8,32.6,21.8,0.070,4.1,...,0.81,0.00,3.4,8.1,0.8,2.0,23.3,19.1,1.6,8.8
16284,Zach Randolph,2004,22.0,3067,81,24.8,36.6,22.1,0.012,2.5,...,0.76,0.01,3.8,9.1,1.2,1.0,23.7,22.3,2.2,10.4
16311,Zaza Pachulia,2005,20.0,1397,74,13.4,21.6,13.0,-0.003,1.0,...,0.75,0.00,5.2,6.6,-0.5,-0.3,13.5,6.3,0.8,4.9
16332,Zelmo Beaty,1964,24.0,1922,59,14.1,22.5,12.7,0.020,0.6,...,0.74,NaN,2.1,7.2,-0.5,1.3,14.7,12.0,1.4,6.7
16345,Zydrunas Ilgauskas,2001,25.0,616,24,20.0,30.5,18.0,0.006,2.7,...,0.68,0.00,6.7,3.4,-1.0,-0.5,19.2,12.0,0.7,6.2

### Now the dataframe is filled with unique rookie season entries
create new binary var of allStar

In [139]:
#by cross referencing with allStar list
allStar = pd.read_csv('C:/Users/Dell/FYP/AllStar.csv')
allStar.rename(columns={'Unnamed: 0':'index'},inplace=True)
allStar = allStar.drop(['index'], axis=1)

#create binary var of allStar status
playersData = playersData.assign(allStar=playersData.Player.isin(allStar.Player).astype(int))

#create int var ASYear by also cross referencing allStar list
#merge allStar with playersData by 'Player'
playersAS = playersData.merge(allStar, on='Player', how = 'left')
''' Title: Merge DataFrame Source Code
Author: Blazina
Date: 2020
Availablilty: https://stackoverflow.com/questions/52943166/get-corresponding-column-value-from-another-dataframe-pandas
'''
#rename year_x to Year and year_y into 1stAS_yr
playersAS = playersAS.rename(columns={'Year_x':'Year'})
playersAS = playersAS.rename(columns={'Year_y':'1stAS_yr'})

playersAS.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.0,0.0,-0.4,0.4,12.2,6.1,0.6,4.6,1,1990.0
1,Aaron Brooks,2008,23.0,608,51,19.7,35.4,17.3,-0.005,5.4,...,-2.8,-6.8,-0.2,-2.0,17.8,5.3,1.8,1.1,0,NaN
2,Aaron McKie,1995,22.0,827,45,16.1,26.7,13.6,-0.043,2.1,...,-1.7,-0.2,0.2,1.0,13.8,6.4,1.9,2.8,0,NaN
3,Aaron Williams,1997,25.0,553,32,14.0,20.8,14.5,0.063,0.3,...,6.4,3.1,-0.6,-0.3,15.2,6.4,0.4,4.3,0,NaN
4,Adam Keefe,1993,22.0,1549,82,11.9,21.2,12.9,0.028,0.5,...,5.4,5.9,-0.4,-0.1,13.1,6.3,0.9,4.9,0,NaN

In [140]:
playersAS.shape

(2246, 28)

In [141]:
playersAS.describe()

,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,Passer Rating,...,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr
count,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,...,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,710.000000
mean,1989.653606,22.897150,1718.694568,69.246215,16.873419,27.845147,14.909929,-0.007423,2.215539,4.056990,...,0.465514,0.118456,-0.154754,0.000273,15.641140,9.996572,2.119813,4.110508,0.316118,1986.952113
std,15.537819,1.773756,762.933948,14.467795,3.841879,6.429421,3.575582,0.042380,1.644082,1.516705,...,3.548745,5.662939,1.095576,1.587203,4.441984,5.451090,1.715800,2.518087,0.465063,17.630928
min,1955.000000,18.000000,400.000000,13.000000,4.500000,8.000000,3.500000,-0.186000,0.200000,0.000000,...,-6.300000,-10.600000,-4.000000,-4.400000,0.000000,0.000000,0.000000,0.000000,0.000000,1951.000000
25%,1978.000000,22.000000,1078.500000,63.000000,14.300000,23.400000,12.500000,-0.035000,1.000000,2.900000,...,-2.600000,-4.800000,-0.900000,-1.100000,13.100000,5.900000,0.900000,2.300000,0.000000,1973.000000
50%,1991.000000,23.000000,1685.000000,75.000000,16.800000,27.500000,14.700000,-0.007000,1.800000,3.900000,...,0.100000,-0.600000,-0.200000,-0.100000,15.500000,8.900000,1.600000,3.500000,0.000000,1988.000000
75%,2003.000000,24.000000,2324.000000,80.000000,19.300000,32.175000,17.300000,0.020000,3.000000,5.100000,...,3.000000,4.500000,0.500000,1.000000,18.200000,13.200000,2.800000,5.400000,1.000000,2002.000000
max,2016.000000,32.000000,3773.000000,82.000000,35.000000,54.400000,32.600000,0.148000,10.200000,10.000000,...,13.400000,18.500000,5.100000,7.100000,45.300000,40.200000,10.000000,18.000000,1.000000,2019.000000

### create a secondary df to look for average numbers of future AS
### we can then apply filering accordingly, to make the prediction more accurate

In [142]:
fuStars = playersAS[(playersAS['allStar'] == 1)]
fuStars.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.0,0.0,-0.4,0.4,12.2,6.1,0.6,4.6,1,1990.0
6,Adrian Dantley,1977,20.0,2816,77,16.6,28.3,18.6,0.090,0.8,...,2.5,-1.5,1.1,0.0,20.7,19.5,1.7,6.7,1,1980.0
7,Adrian Smith,1962,25.0,1462,80,13.2,24.2,11.4,0.004,2.5,...,-3.3,-7.9,-0.7,-1.4,13.3,5.8,1.8,1.0,1,1966.0
11,Al Horford,2008,21.0,2540,81,13.9,21.5,12.8,-0.001,0.8,...,6.1,9.8,0.0,0.8,13.1,10.3,1.6,9.6,1,2010.0
17,Alex English,1977,23.0,648,60,19.0,26.1,15.9,0.000,0.3,...,4.4,2.5,-0.1,-2.0,17.5,4.9,0.4,2.4,1,1982.0

In [143]:
fuStars.describe()

,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,Passer Rating,...,rORB%,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr
count,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,...,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.000000,710.0,710.000000
mean,1984.653521,22.645070,2146.816901,72.338028,18.469437,30.719155,16.711268,0.006196,2.507887,4.059296,...,0.537152,0.966412,0.463820,0.713710,17.571972,13.444930,2.688310,5.186620,1.0,1986.952113
std,16.612431,1.835459,762.089946,12.855214,3.794344,6.357264,3.760010,0.039220,1.753142,1.483817,...,3.663565,6.208178,1.118735,1.676382,4.988875,6.216092,1.922267,3.093622,0.0,17.630928
min,1955.000000,18.000000,400.000000,17.000000,7.600000,11.500000,7.100000,-0.131000,0.200000,0.000000,...,-6.300000,-10.200000,-2.900000,-4.100000,0.000000,0.000000,0.000000,0.000000,1.0,1951.000000
25%,1971.000000,22.000000,1581.250000,68.000000,15.800000,26.200000,14.000000,-0.017000,1.300000,3.000000,...,-2.500000,-4.575000,-0.200000,-0.400000,14.900000,8.625000,1.300000,2.800000,1.0,1973.000000
50%,1985.000000,23.000000,2284.500000,78.000000,18.600000,30.450000,16.700000,0.004000,2.200000,3.950000,...,0.100000,0.090482,0.400000,0.600000,17.650000,13.400000,2.300000,4.500000,1.0,1988.000000
75%,1998.000000,23.000000,2786.500000,81.000000,21.200000,35.100000,19.300000,0.032000,3.300000,5.000000,...,3.100000,6.375000,1.200000,1.800000,20.700000,17.900000,3.500000,7.200000,1.0,2002.000000
max,2014.000000,30.000000,3773.000000,82.000000,35.000000,54.400000,32.600000,0.140000,9.900000,8.600000,...,13.400000,18.500000,5.100000,7.100000,36.900000,32.800000,10.000000,18.000000,1.0,2019.000000

In [144]:
#to check how many allStars qualifies for the number of mins in rookie szn
to_add = playersAS[(playersAS['MP']>=500)]
col_count = to_add.count()
print(col_count)

Player           2174
Year             2174
Age              2174
MP               2174
G                2174
FGA              2174
Load             2174
Pts/75           2174
rTS%             2174
Box Creation     2174
Passer Rating    2174
Spacing          2174
cTOV%            2174
ScoreVal         2174
PlayVal          2174
FTA/100          2174
FT%              2174
3p Pro           1665
rORB%            2174
rDREB%           2174
OBPM             2174
BPM              2174
IA Pts/75        2174
IA PPG           2174
IA APG           2174
IA RPG           2174
allStar          2174
1stAS_yr          697
dtype: int64

In [145]:
#filter out rookie with lesser avg playing time than AllStars. 
asMin = playersAS.groupby('allStar')['MP'].sum()[1] #calculate the sum of MP by AS
asCount = playersAS.groupby('allStar')['allStar'].sum()[1] #calculate the sum of AS count
print('total minutes by all future all-stars is ', asMin)
print('total count of all future all-stars is ', asCount)
print('average of Minutes future all-stars played is ', asMin/asCount)

total minutes by all future all-stars is  1524240
total count of all future all-stars is  710
average of Minutes future all-stars played is  2146.8169014084506

In [146]:
#filter out players who plays less than 500minutes in rookie szn
#to level the playing field
playersAS = playersAS[(playersAS['MP']>= 500)]
playersAS.shape

(2174, 28)

### calculate average of years AS take to get selected as AS

In [148]:
playersAS['yr2AS']=playersAS['1stAS_yr']- playersAS['Year']
playersAS.head()

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr,yr2AS
0,A.C. Green,1986,22.0,1542,82,11.8,18.9,11.9,0.023,0.6,...,0.0,-0.4,0.4,12.2,6.1,0.6,4.6,1,1990.0,4.0
1,Aaron Brooks,2008,23.0,608,51,19.7,35.4,17.3,-0.005,5.4,...,-6.8,-0.2,-2.0,17.8,5.3,1.8,1.1,0,NaN,NaN
2,Aaron McKie,1995,22.0,827,45,16.1,26.7,13.6,-0.043,2.1,...,-0.2,0.2,1.0,13.8,6.4,1.9,2.8,0,NaN,NaN
3,Aaron Williams,1997,25.0,553,32,14.0,20.8,14.5,0.063,0.3,...,3.1,-0.6,-0.3,15.2,6.4,0.4,4.3,0,NaN,NaN
4,Adam Keefe,1993,22.0,1549,82,11.9,21.2,12.9,0.028,0.5,...,5.9,-0.4,-0.1,13.1,6.3,0.9,4.9,0,NaN,NaN

In [149]:
playersAS.describe()

,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,Passer Rating,...,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr,yr2AS
count,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,...,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,2174.000000,697.000000,697.000000
mean,1989.563937,22.905244,1760.729531,70.300828,16.905842,27.889834,14.962282,-0.006457,2.222171,4.057912,...,0.186974,-0.127330,0.040733,15.671941,10.148206,2.145998,4.172815,0.320607,1987.030129,2.275466
std,15.519722,1.771908,739.043495,13.278275,3.820616,6.404538,3.544774,0.041113,1.644642,1.512552,...,5.689331,1.082937,1.573346,4.422355,5.429636,1.721299,2.513908,0.466817,17.577675,2.489377
min,1955.000000,18.000000,501.000000,18.000000,4.500000,8.000000,3.500000,-0.163000,0.200000,0.000000,...,-10.200000,-4.000000,-4.400000,0.000000,0.000000,0.000000,0.000000,0.000000,1951.000000,-5.000000
25%,1978.000000,22.000000,1137.000000,64.000000,14.300000,23.500000,12.500000,-0.034000,1.000000,2.900000,...,-4.800000,-0.900000,-1.100000,13.200000,6.000000,0.900000,2.400000,0.000000,1973.000000,1.000000
50%,1991.000000,23.000000,1714.000000,75.000000,16.800000,27.500000,14.700000,-0.006000,1.800000,3.900000,...,-0.500000,-0.200000,0.000000,15.500000,9.100000,1.700000,3.600000,0.000000,1988.000000,2.000000
75%,2003.000000,24.000000,2348.000000,80.000000,19.400000,32.100000,17.300000,0.020000,3.000000,5.100000,...,4.600000,0.500000,1.000000,18.200000,13.375000,2.900000,5.400000,1.000000,2002.000000,4.000000
max,2016.000000,32.000000,3773.000000,82.000000,28.300000,50.000000,27.900000,0.146000,10.200000,10.000000,...,18.500000,5.100000,7.100000,45.300000,40.200000,10.000000,18.000000,1.000000,2019.000000,11.000000

In [150]:
#check which player takes 26 years
playersAS.loc[playersAS['yr2AS'] < 0]

,Player,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,...,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr,yr2AS
90,Bill Sharman,1955,28.0,2453,68,19.7,34.2,17.5,-0.002469,2.9,...,-5.000000,0.236592,0.559567,21.0,19.9,3.9,3.1,1,1953.0,-2.0
106,Bob Cousy,1955,26.0,2747,71,21.8,44.6,18.7,-0.002469,4.3,...,-3.200000,0.236592,0.559567,22.5,22.9,7.4,4.3,1,1951.0,-4.0
156,Carl Braun,1955,27.0,2479,71,20.2,34.3,15.8,-0.002469,2.2,...,-5.800000,0.236592,0.559567,18.7,17.2,3.8,3.1,1,1953.0,-2.0
317,Dolph Schayes,1955,26.0,2526,72,20.6,36.3,18.7,-0.002469,1.3,...,10.300000,0.236592,0.559567,22.7,21.0,2.9,9.1,1,1951.0,-4.0
392,Fred Brown,1978,29.0,1965,72,24.3,36.4,20.9,0.013000,3.7,...,0.090482,0.100000,0.600000,0.0,0.0,0.0,0.0,1,1976.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,Walter Davis,1979,24.0,2437,79,24.7,40.6,25.4,0.076000,4.8,...,-1.600000,2.000000,3.700000,27.0,21.5,3.7,4.3,1,1978.0,-1.0
2227,Wes Unseld,1970,23.0,3234,82,12.5,22.8,12.2,0.040000,0.6,...,12.100000,0.000000,2.800000,13.9,13.2,3.0,12.2,1,1969.0,-1.0
2235,Willis Reed,1966,23.0,2537,76,16.1,24.5,14.1,0.010000,0.6,...,7.400000,-0.100000,0.100000,16.0,13.2,1.1,6.8,1,1965.0,-1.0
2237,Wilt Chamberlain,1961,24.0,3773,79,23.7,35.1,22.0,0.050000,2.2,...,15.100000,1.600000,4.200000,26.5,31.8,1.7,14.7,1,1960.0,-1.0
2241,Yao Ming,2004,23.0,2692,82,20.8,32.6,21.8,0.070000,4.1,...,8.100000,0.800000,2.000000,23.3,19.1,1.6,8.8,1,2003.0,-1.0

upon inspection, is noisy data. Jim Paxson was born in 1957, played his rookie season in 1979. need to alter the source data file. There is another Jim Paxson before this all star player with the same name(who played 2 seasons). His entry will be removed.

another noisy data: John Green is Johnny Green, who was rookie in 1960 and  an AS in 1962, where noisy data registered Johnny Green takes 11 yrs to make AS

In [151]:
#remove players who took more than 7 years to become all Star
playersAS.drop(playersAS.loc[playersAS['yr2AS']> 7].index, inplace=True)

#remove players who took negative yrs to become AS, most likely dont have 
#their rookie yr(missing) in Player_Data
playersAS.drop(playersAS.loc[playersAS['yr2AS']< 0].index, inplace=True)

playersAS.shape

(2088, 29)

In [152]:
playersAS.describe()

,Year,Age,MP,G,FGA,Load,Pts/75,rTS%,Box Creation,Passer Rating,...,rDREB%,OBPM,BPM,IA Pts/75,IA PPG,IA APG,IA RPG,allStar,1stAS_yr,yr2AS
count,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,...,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,611.000000,611.000000
mean,1990.108238,22.847701,1732.599617,70.213123,16.796791,27.683764,14.823228,-0.007754,2.207615,4.070067,...,0.068291,-0.168969,-0.021707,15.568151,9.904933,2.122318,4.093103,0.292625,1988.445172,2.507365
std,15.252193,1.712936,728.197043,13.353226,3.770102,6.308442,3.457021,0.040835,1.648776,1.515861,...,5.619968,1.059984,1.529712,4.218609,5.143442,1.702401,2.412386,0.455076,16.825864,1.888150
min,1955.000000,18.000000,501.000000,18.000000,4.500000,8.000000,3.500000,-0.163000,0.200000,0.000000,...,-10.200000,-4.000000,-4.400000,0.000000,0.000000,0.000000,0.000000,0.000000,1955.000000,0.000000
25%,1979.000000,22.000000,1119.750000,64.000000,14.300000,23.300000,12.500000,-0.035000,1.000000,2.900000,...,-4.800000,-0.900000,-1.100000,13.100000,6.000000,0.900000,2.400000,0.000000,1974.500000,1.000000
50%,1991.000000,23.000000,1688.500000,76.000000,16.700000,27.300000,14.600000,-0.007000,1.700000,3.900000,...,-0.600000,-0.200000,-0.100000,15.400000,8.900000,1.600000,3.600000,0.000000,1989.000000,2.000000
75%,2003.000000,24.000000,2305.250000,80.000000,19.200000,31.800000,17.200000,0.020000,3.000000,5.100000,...,4.400000,0.500000,1.000000,18.025000,13.000000,2.800000,5.300000,1.000000,2002.000000,4.000000
max,2016.000000,32.000000,3695.000000,82.000000,28.300000,50.000000,26.600000,0.146000,10.200000,10.000000,...,18.500000,4.300000,5.300000,45.300000,40.200000,9.600000,18.000000,1.000000,2019.000000,7.000000

In [153]:
#save playersAS to .csv
playersAS.to_csv(r'C:/Users/Dell/FYP/OmniX.csv')